!!!
%html
  %head
    %title SEALCRETE Utah
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = favicon_link_tag "SealCrete_logo.jpg"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield